
CSGO Font Manager/Resources/*
CSGO Font Manager/obj/Release/*
.vs/*

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
*[Dd]ebug/
*[Dd]ebugPublic/
*[Rr]elease/
*[Rr]eleases/
*x64/
*x86/
*build/
*bld/
*[Bb]in/
*[Oo]bj/

# Roslyn cache directories
*.ide/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.pfx
*.exe
CSGO Font Manager/ProtectedSettings.cs
Font-Manager-WPF/.vs/VSWorkspaceState.json
Font-Manager-WPF/.vs/slnx.sqlite
Font-Manager-WPF/.vs/ProjectSettings.json
