
CSGO Font Manager/Resources/*
CSGO Font Manager/obj/Release/*
.vs/*

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Roslyn cache directories
*.ide/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.pfx
*.exe
CSGO Font Manager/obj/Debug/CSGO Font Manager.exe
CSGO Font Manager/bin/Debug/ActiproSoftware.Shared.WinForms.dll
CSGO Font Manager/bin/Debug/ActiproSoftware.Shared.WinForms.xml
CSGO Font Manager/bin/Debug/ActiproSoftware.SyntaxEditor.WinForms.dll
CSGO Font Manager/bin/Debug/ActiproSoftware.SyntaxEditor.WinForms.xml
CSGO Font Manager/bin/Debug/CSGO Font Manager.exe
CSGO Font Manager/bin/Debug/CSGO Font Manager.exe.config
CSGO Font Manager/bin/Debug/CSGO Font Manager.pdb
CSGO Font Manager/bin/Debug/Fastenshtein.dll
CSGO Font Manager/bin/Debug/Fastenshtein.xml
CSGO Font Manager/obj/Debug/CSGO Font Manager.csproj.CoreCompileInputs.cache
CSGO Font Manager/obj/Debug/CSGO Font Manager.csprojResolveAssemblyReference.cache
CSGO Font Manager/bin/Debug/Newtonsoft.Json.xml
CSGO Font Manager/bin/Debug/Newtonsoft.Json.dll
CSGO Font Manager/bin/Debug/Fastenshtein.xml
CSGO Font Manager/bin/Debug/Fastenshtein.dll
CSGO Font Manager/bin/Debug/CSGO Font Manager.pdb
CSGO Font Manager/bin/Debug/CSGO Font Manager.exe.config
CSGO Font Manager/bin/Debug/CSGO Font Manager.exe
CSGO Font Manager/bin/Debug/ActiproSoftware.SyntaxEditor.WinForms.xml
CSGO Font Manager/bin/Debug/ActiproSoftware.SyntaxEditor.WinForms.dll
CSGO Font Manager/bin/Debug/ActiproSoftware.Shared.WinForms.xml
CSGO Font Manager/bin/Debug/ActiproSoftware.Shared.WinForms.dll
CSGO Font Manager/obj/Debug/CSGO Font Manager.csprojResolveAssemblyReference.cache
CSGO Font Manager/bin/Debug/CSGO Font Manager.exe
CSGO Font Manager/bin/Debug/CSGO Font Manager.pdb
CSGO Font Manager/obj/Debug/CSGO Font Manager.csproj.FileListAbsolute.txt
CSGO Font Manager/obj/Debug/CSGO Font Manager.exe
CSGO Font Manager/obj/Debug/CSGO Font Manager.pdb
